<div class="row">
  <div class="col-xs-2">
    <% unless first_photo %>
      <%= link_to photo_path(@featured_photo.id + 1) do %>
        <span class="glyphicon glyphicon-chevron-left arrow-left pull-right"></span>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-8" id="primary-picture">
    <%= image_tag @featured_photo.standard_url, class:'img-responsive featured-photo', id: @featured_photo.id %>
  </div>

  <div class="col-xs-2">
    <% unless last_photo %>
      <%= link_to photo_path(@featured_photo.id - 1) do %>
        <span class="glyphicon glyphicon-chevron-right arrow-right pull-left"></span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div>
    <% @photos.reverse.each do |photo| %>
      <% if @featured_photo == photo %>
        <%= link_to(photo_path(photo.id), id:photo.id) do %>
          <%= image_tag photo.thumbnail_url, class:'photo selected-photo'%>
        <% end %>
      <% else %>
        <%= link_to(photo_path(photo.id), id:photo.id) do %>
          <%= image_tag photo.thumbnail_url, class:'photo img-thumbnail' %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
