<div class="row">
  <div class="arrow-left col-xs-1 col-xs-offset-3">
    <% unless @featured_photo == @photos.last %>
      <%= link_to photo_path(@featured_photo.id + 1) do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
      <% end %>
    <% end %>
  </div>

  <div class="featured-photo col-xs-4 img-responsive">
    <%= image_tag @featured_photo.standard_url, class:'img-responsive' %>
  </div>

  <div class="arrow-right col-xs-1 col-xs-offset-1">
    <% unless @featured_photo == @photos.first %>
      <%= link_to photo_path(@featured_photo.id - 1) do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <% @photos.reverse.each do |photo| %>
    <% if @featured_photo == photo %>
      <%= link_to photo_path(photo.id) do %>
        <%= image_tag photo.thumbnail_url, class:'photo selected-photo' %>
      <% end %>
    <% else %>
      <%= link_to photo_path(photo.id) do %>
        <%= image_tag photo.thumbnail_url, class:'photo img-thumbnail' %>
      <% end %>
    <% end %>
  <% end %>
</div>
