<div class="top-line">
  <div class="row">
    <div class="col-md-2 arrow-left">
      <%= link_to photo_path(@featured_photo.id + 1)  do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
      <% end %>
    </div>
    <div class="col-md-6 featured-photo">
      <%= image_tag @featured_photo.standard_url %>
    </div>
    <div class="col-md-2 pull-right">
      <%= link_to photo_path(@featured_photo.id - 1) do %>
        <span class="glyphicon glyphicon-chevron-right arrow-right"></span>
      <% end %>
    </div>
  </div>
</div>

<div>
  <% @photos.reverse.each do |photo| %>
    <% if @featured_photo.id == photo.id %>
        <%= link_to photo_path(photo.id) do %>
          <%= image_tag photo.thumbnail_url, class:'selected-photo img-rounded' %>
        <% end %>
      </div>
    <% else %>
      <%= link_to photo_path(photo.id) do %>
        <%= image_tag photo.thumbnail_url, class:'photo img-thumbnail' %>
      <% end %>
    <% end %>
  <% end %>
</div>
